.App {
  text-align: center;
}
.box {
      padding: 20px;
    background: lightblue;
}
.container {
      background: lightgrey;
    width: 300px;
    padding: 20px 0px 20px 0px
}
.edit {
  background: navy;
    color: white;
    padding: 5px;
}
.remove {
  background: red;
    color: white;
    padding: 5px;
}
background: navy;
    color: white;
    padding: 5px;
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
